@use 'src/styles/variables.scss' as *;

.button_menu {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid $color-malibu;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.button_menu::after,
.button_menu::before {
content: '';
position: absolute;
width: 14px;
height: 1px;
background-color: $color-malibu;
// border-radius: 1px;
left: calc(50% - 7px);
transition: transform 0.5s ease-in-out;
}

.button_menu::before {
  transform: translateY(8px) rotate(0);
    top: 0;
}

.button_menu::after {
    bottom: 0;
    transform: translateY(-8px);
    transform-origin: center;

}

